.nav {
    background-color: aqua; 
    height: 400px;
    display: flex;
    flex-direction: column;
}

.nav__link {
    text-decoration: none;
    color: black;
    height: 30px;
    padding: 5px;
    background-color: green;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
}